Florian Pritz <bluewind@xinu.at> <bluewind@xssn.at>
Harley Laue <losinggeneration@gmail.com> <losinggeneration@aim.com>
John Keeping <john@keeping.me.uk> <john@metanate.com>
Lars Hjemli <hjemli@gmail.com> <larsh@hal-2004.(none)>
Lars Hjemli <hjemli@gmail.com> <larsh@hatman.(none)>
Lars Hjemli <hjemli@gmail.com> <larsh@slackbox.hjemli.net>
Lars Hjemli <hjemli@gmail.com> <larsh@slaptop.hjemli.net>
Lukas Fleischer <lfleischer@lfos.de> <cgit@cryptocrack.de>
Lukas Fleischer <lfleischer@lfos.de> <info@cryptocrack.de>
Stefan Bühler <source@stbuehler.de> <lighttpd@stbuehler.de>
