body {
	font-family: arial;
	font-size: normal;
	background: white;
	padding: 0em;
	margin: 0.5em 1em;
}


h2 {
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0.1em;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table.list {
	border: solid 1px black;
	border-collapse: collapse;
	border: solid 1px #aaa;
}
table.list tr {
	background: white;
}
table.list tr:hover {
	background: #eeb;
}
table.list th {
	font-weight: normal;
	background: #ddd;
	border-bottom: solid 1px #aaa;
	padding: 0.1em 0.5em 0.1em 0.5em;
	vertical-align: baseline;
}
table.list td {
	border: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
}
img {
	border: none;
}


div#header {
	background-color: #ddd;
	padding: 0.25em 0.25em 0.25em 0.5em;
	font-size: 150%;
	font-weight: bold;
	border: solid 1px #aaa;
	vertical-align: middle;
	margin-bottom: 2em;
}
div#header img#logo {
	float: right;
}
div#header a {
	color: black;
}

div#content {
	margin: 0.5em 0.5em;
}

div#blob {
	border: solid 1px black;
}

div.error {
	color: red;
	font-weight: bold;
	margin: 1em 2em;
}
div.ls-blob, div.ls-dir {
	font-family: monospace;
}
div.ls-dir a {
	font-weight: bold;
}
th.filesize, td.filesize {
	text-align: right;
}
td.filesize {
	font-family: monospace;
}
td.filemode {
	font-family: monospace;
}

td.blob {
	white-space: pre;
	font-family: monospace;
	background-color: white;
}

table.nowrap td {
	white-space: nowrap;
}

table.commit-info {
	border-collapse: collapse;
	margin-top: 1.5em;
}
table.commit-info th {
	text-align: left;
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}
table.commit-info td {
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}
div.commit-subject {
	font-weight: bold;
	font-size: 125%;
	margin: 1.5em 0em 0.5em 0em;
	padding: 0em;
}
div.commit-msg {
	white-space: pre;
	font-family: monospace;
}
table.diffstat {
	border-collapse: collapse;
	margin-top: 1.5em;
}
table.diffstat th {
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	padding: 0.1em 1em 0.1em 0.1em;
	font-size: 100%;
}
table.diffstat td {
	padding: 0.1em 1em 0.1em 0.1em;
	font-size: 100%;
}
table.diffstat td span.modechange {
	padding-left: 1em;
	color: red;
}
table.diffstat td.add a {
	color: green;
}
table.diffstat td.del a {
	color: red;
}
table.diffstat td.upd a {
	color: blue;
}
table.diffstat td.summary {
	/* border-top: solid 1px black; */
	color: #888;
	padding-top: 0.5em;
}

table.diff td {
	border: solid 1px black;
	font-family: monospace;
	white-space: pre;
}

table.diff td div.hunk {
	background: #ccc;
}

table.diff td div.add {
	color: green;
}

table.diff td div.del {
	color: red;
}

.sha1 {
	font-family: courier;
	font-size: 90%;
}
.left {
	text-align: left;
}
.right {
	text-align: right;
}
