body {
	font-family: arial;
	font-size: 11pt;
	background: white;
}

body, table {
	padding: 0em;
	margin: 0em;
}

table {
      border-collapse: collapse;
}

h2 {
	font-size: 120%;
	font-weight: bold;
	margin-top: 0em;
	margin-bottom: 0.25em;
}

h3 {
	margin-top: 0em;
	font-size: 100%;
	font-weight: normal;
}

h4 {
	margin-top: 1.5em;
	margin-bottom: 0.1em;
	font-size: 100%;
	font-weight: bold;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table.list {
	border: none;
	border-collapse: collapse;
}

table.list tr {
	background: white;
}

table.list tr:hover {
	background: #eee;
}

table.list tr.nohover:hover {
	background: white;
}

table.list th {
	font-weight: bold;
	border-bottom: solid 1px #777;
	padding: 0.1em 0.5em 0.1em 0.5em;
	vertical-align: baseline;
}

table.list td {
	border: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
}

img {
	border: none;
}

table#layout {
	width: 100%;
	border-collapse: collapse;
	margin: 0px;
}

td#header, td#logo {
	color: #666;
	background-color: #ddd;
	border-bottom: solid 1px #000;
}

td#header {
	font-size: 150%;
	font-weight: bold;
	padding: 0.2em 0.5em;
	vertical-align: text-bottom;
}

td#logo {
	text-align: right;
	vertical-align: middle;
	padding-right: 0.5em;
}

td#crumb, td#search {
	color: #ccc;
	border-top: solid 3px #555;
	background-color: #666;
	border-bottom: solid 1px #333;
	padding: 2px 1em;
}

td#crumb {
	font-weight: bold;
}

td#crumb a {
	color: #ccc;
}

td#crumb a:hover {
	color: #eee;
}

td#search {
	text-align: right;
	vertical-align: center;
	padding-right: 0.5em;
}

td#search form {
	margin: 0px;
	padding: 0px;
}

td#search input {
	font-size: 9pt;
	padding: 0px;
	width: 10em;
	border: solid 1px #333;
	color: #333;
	background-color: #fff;
}

div#summary {
	vertical-align: top;
	margin-bottom: 1em;
}

table#downloads {
	float: right;
	border-collapse: collapse;
	border: solid 1px #777;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

table#downloads th {
	background-color: #ccc;
}

td#content {
	padding: 1em 0.5em;
}

div#blob {
	border: solid 1px black;
}

div.error {
	color: red;
	font-weight: bold;
	margin: 1em 2em;
}

td.ls-blob, td.ls-dir, td.ls-mod {
	font-family: monospace;
}

div.ls-dir a {
	font-weight: bold;
}

th.filesize, td.filesize {
	text-align: right;
}

td.filesize {
	font-family: monospace;
}

td.links {
	font-size: 80%;
	padding-left: 2em;
}

td.filemode {
	font-family: monospace;
}

td.blob {
	white-space: pre;
	font-family: monospace;
	background-color: white;
}

table.nowrap td {
	white-space: nowrap;
}

table.commit-info {
	border-collapse: collapse;
	margin-top: 1.5em;
}

table.commit-info th {
	text-align: left;
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}

table.commit-info td {
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}

div.commit-subject {
	font-weight: bold;
	font-size: 125%;
	margin: 1.5em 0em 0.5em 0em;
	padding: 0em;
}

div.commit-msg {
	white-space: pre;
	font-family: monospace;
}

div.diffstat-header {
	font-weight: bold;
	padding-top: 1.5em;
}

table.diffstat {
	border-collapse: collapse;
	width: 100%;
	border: solid 1px #aaa;
	background-color: #eee;
}

table.diffstat tr:hover {
	background-color: #ccc;
}

table.diffstat th {
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	padding: 0.1em 1em 0.1em 0.1em;
	font-size: 100%;
}

table.diffstat td {
	padding: 0.2em 0.2em 0.1em 0.1em;
	font-size: 100%;
	border: none;
}

table.diffstat td.mode {
	white-space: nowrap;
}

table.diffstat td span.modechange {
	padding-left: 1em;
	color: red;
}

table.diffstat td.add a {
	color: green;
}

table.diffstat td.del a {
	color: red;
}

table.diffstat td.upd a {
	color: blue;
}

table.diffstat td.graph {
	width: 75%;
	vertical-align: center;
}

table.diffstat td.graph table {
	border: none;
}

table.diffstat td.graph td {
	padding: 0px;
	border: 0px;
	height: 7pt;
}

table.diffstat td.graph td.add {
	background-color: #5c5;
}

table.diffstat td.graph td.rem {
	background-color: #c55;
}

table.diffstat td.graph td.none {
	background-color: none;
}

div.diffstat-summary {
	color: #888;
	padding-top: 0.5em;
}

table.diff td {
	font-family: monospace;
	white-space: pre;
}

table.diff td div.head {
	font-weight: bold;
	padding-top: 1em;
}

table.diff td div.hunk {
	color: #009;
}

table.diff td div.add {
	color: green;
}

table.diff td div.del {
	color: red;
}

.sha1 {
	font-family: courier;
	font-size: 90%;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

table.list td.repogroup {
	font-style: italic;
	color: #888;
}

a.button {
	font-size: 80%;
	color: #333;
	background-color: #ccc;
	border: solid 1px #999;
	padding: 0em 0.5em;
	margin: 0.1em 0.25em;
}

a.button:hover {
	text-decoration: none;
	background-color: #eee;
}

a.primary {
	font-size: 100%;
}

a.secondary {
	font-size: 90%;
}

td.toplevel-repo {

}

table.list td.sublevel-repo {
	padding-left: 1.5em;
}

span.age-mins {
	font-weight: bold;
	color: #080;
}

span.age-hours {
	color: #080;
}

span.age-days {
	color: #040;
}

span.age-weeks {
	color: #444;
}

span.age-months {
	color: #888;
}

span.age-years {
	color: #bbb;
}
